.notATable {
    display:table;
    list-style:none;
    padding-left:0;
  }
  
  .notATable > li 
   {
    display:table-row;
   }
   
   .notATable > li > *
   {
    display:table-cell;
    padding:5px;
   }
   
   
   .notATable label {
    font-weight:bold;
    text-align:right;
   }
   
   .notATable label:after {
    content: ':';
   }
  
   body{
       background: #f0f2f5 !important;
   }