@gradient-start-color: #b63f81;
@gradient-end-color: #221e67;

.login-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  .middle-wrap {
    position: absolute;
    width: 30vw;
    // height: 55vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  }
  .left {
    flex: 1;
    background-image: url("../../../assets/images/login-background.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    .text-wrap {
      position: absolute;
      bottom: 40px;
      left: 43px;
      width: 25vw;

      .title {
        color: white;
        margin-bottom: 3rem;
        font-weight: 300;
        font-size: 16px;
      }

      .desc {
        color: white;
        font-weight: 200;
        margin: 1rem 0;
        font-size: 14px;
      }
      .copyrights {
        color: white;
        font-weight: 200;
        margin-top: 2rem;
        font-size: 14px;
      }
    }
  }
  .left:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(
      to left,
      fade(@gradient-start-color, 80%),
      fade(@gradient-end-color, 80%)
    );
  }
  .right {
    flex: 1;
    position: relative;

    .img-1 {
      position: absolute;
      top: -3rem;
      right: -6rem;
    }

    .img-2 {
      position: absolute;
      top: 4rem;
      right: -8rem;
    }

    .img-3 {
      position: absolute;
      bottom: -2rem;
      right: -5rem;
    }
  }
}
