@import "../../../assets/theme/global/variables.less";
@import "../../../assets/theme/variables.less";

.form-input-masked-item,
.form-input-masked-container {
  .ant-form-item-control {
    .ant-form-item-control-input {
      .ant-form-item-control-input-content {
        .input-item-char-limit {
          font-family: "Quicksand-Medium", sans-serif;
          font-size: 14px;
          text-align: right;
          color: @text-color-secondary;
          margin-top: -15px;
          line-height: 18px;
        }
        &:hover,
        &:active,
        &:focus {
          .ant-input-affix-wrapper {
            border-color: @border-hover-color;
          }

          .ant-input-group-addon {
            border-color: @border-hover-color;
          }
        }
        .ant-input-affix-wrapper {
          border-right: 0 !important;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        .ant-input-group-addon {
          background: transparent !important;
          color: @text-color-secondary;
          font-family: "Quicksand-Medium", sans-serif;
        }

        .ant-input-affix-wrapper-readonly {
          background-color: @nav-dark-bg !important;
          input {
            background-color: @nav-dark-bg !important;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.form-input-item,
.form-input-container {
  .ant-form-item-control {
    .ant-form-item-control-input {
      .ant-form-item-control-input-content {
        .input-item-char-limit {
          font-family: "Quicksand-Medium", sans-serif;
          font-size: 14px;
          text-align: right;
          color: @text-color-secondary;
          margin-top: -15px;
          line-height: 18px;
        }
        .ant-input-affix-wrapper {
          border-radius: 4px;
        }
        .ant-input-affix-wrapper-readonly {
          background-color: @nav-dark-bg !important;
          input {
            background-color: @nav-dark-bg !important;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
