.login-form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3rem;
  .logo-wrap {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo-img {
      width: 50%;
      margin-bottom: 2rem;
    }
  }
  .input-wrap {
    width: 100%;
    flex: 3;

    .input-wrap-form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .password-outer {
        width: 100%;
      }
      .ant-form-item {
        width: 100%;

        .login-input {
          width: 100%;
        }

        .ant-input-affix-wrapper {
          padding: 10px 11px;
        }

        .ant-input-affix-wrapper > input.ant-input {
          width: 100%;
        }

        .ant-form-item-control-input-content {
          display: flex;
          flex-direction: row-reverse;
        }

        .remember-wrap {
          text-align: right;
          display: flex;
          flex-direction: column;
        }

        .remember {
          position: absolute;
          bottom: 1.5rem;
          span {
            font-size: 14px;
            color: #707070;
            font-weight: 300;
          }
        }

        .input-icon {
          width: 15px;
          margin-right: 5px;
        }
      }
      .input-icon {
        color: #652d86;
      }
    }
  }
}
