.ant-form-item {
  .ant-form-item-label {
    > label.ant-form-item-required {
      &::after {
        display: inline-block;
        margin-right: 4px;
        color: #f5222d;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        padding-left: 5px;
        content: "*";
      }
      &::before {
        display: none;
      }
    }
  }
  &.hide-asterix {
    .ant-form-item-label {
      > label.ant-form-item-required {
        &::after {
          display: inline-block;
          margin-right: 4px;
          color: transparent;
          font-size: 14px;
          font-family: SimSun, sans-serif;
          line-height: 1;
          padding-left: 5px;
          content: "*";
        }
      }
    }
  }
}

.ant-modal-title {
  color: #652d86 !important;
}

.ant-modal-content {
  border-radius: 4px !important;
}

.ant-input {
  border-radius: 4px !important;
}

.ant-select-selector {
  border-radius: 4px !important;
}

.ant-checkbox-inner {
  border-radius: 4px !important;
}

.ant-modal-footer {
  text-align: left !important;
}

.ant-form-item-label > label.ant-form-item-required::before {
  display: inline-block !important;
  content: "" !important;
}

.ant-form-item-label > label.ant-form-item-required::after {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
.leaflet-container {
  width: 100%;
  height: 65vh;
}
.action-item-links {
  a {
    font-family: "Quicksand-Medium", sans-serif;
    text-transform: uppercase;
  }
}
.action-name-links {
  a {
    font-family: Quicksand;
    font-size: 14px;
  }
}

.ant-upload {
  button {
    min-width: 280px;
    width: 280px;
  }
}

.ant-layout-sider
  .ant-menu
  .ant-menu-submenu
  .ant-menu-submenu
  .ant-menu-submenu-title
  .icon,
.ant-drawer
  .ant-menu
  .ant-menu-submenu
  .ant-menu-submenu
  .ant-menu-submenu-title
  .icon,
.ant-layout-sider .ant-menu .ant-menu-submenu .ant-menu-item .icon,
.ant-drawer .ant-menu .ant-menu-submenu .ant-menu-item .icon {
  max-width: 25px;
}

.ant-radio-disabled + span {
  color: #666 !important; 
}