.ant-modal-title {
  color: #652d86 !important;
}

.ant-modal-content {
  border-radius: 4px !important;
}

.ant-input {
  border-radius: 4px !important;
}

.ant-select-selector {
  border-radius: 4px !important;
}

.ant-checkbox-inner {
  border-radius: 4px !important;
}

.ant-modal-footer {
  text-align: left !important;
}

.ant-form-item-label > label.ant-form-item-required::before {
  display: inline-block !important;
  content: "" !important;
}

.ant-form-item-label > label.ant-form-item-required::after {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
.leaflet-container {
  width: 100%;
  height: 65vh;
}
