@import "../../../node_modules/antd/lib/style/themes/default.less";

// ColorPicker Variables
@white-color: #ffffff;
@black-color: #000000;

//global style variables
@primary-color: #652d86;
@primary-color-fade: #652d8633;
@secondary-color: #f7941d;
@text-color: #000000;
@heading-color: #707070;
@disabled-color: #e4e4e4;
@header-text-color: #262626;
@layout-header-background: #ffffff;
@layout-header-background-dark: #ffffff;
@layout-footer-background: #fffffe;
@body-background: #ffffff;
@nav-bar-bg: #fffffc;
@nav-bar-text-color: @text-color;
@label-color: #707070;
@permission-tag-color: #eee8f2;

@nav-dark-bg: #f7f7f7;
@nav-dark-text-color: @primary-color;
@menu-dark-bg: @nav-dark-bg;
@menu-border-color: #e4e4e4;
@menu-dark-color: @nav-dark-text-color;
@menu-dark-highlight-color: @secondary-color;
@menu-dark-arrow-color: @nav-dark-text-color;
@hor-nav-text-color: #fffffd;

@border-radius-base: 6px;
@border-radius-sm: 4px;
@border-radius-lg: 10px;
@border-hover-color: #7b4a94;
@step-success-color: #b3d335;
